/* styles.css */
body {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #070707;
    color: white;
    padding: 1em;
    text-align: center;
    width: 100%;
}

main {
    width: 90%;
    max-width: 800px;
    margin-top: 20px;
}

.controls {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-bottom: 20px;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
}

.photo img {
    width: 100%;
    border-radius: 8px;
}

.photo p {
    margin: 5px 0;
    font-size: 0.9em;
    text-align: center;
}

@media (min-width: 600px) {
    #date-selector {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    input[type="date"] {
        margin-right: 10px;
    }
}

.photo {
    margin-bottom: 15px;
    text-align: center;
}

img {
    max-width: 100%; /* Responsive image */
    height: auto;
}